<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
	<bean id="employee" class="com.example.Employee"></bean>
	<bean id="dao" class="com.example.EmployeeDao">
	<property name="temp" ref="hibernatetemp" ></property>
	</bean>   
	 <!-- HibernateTemplate with session factory-->
	 <bean id="hibernatetemp" class="org.springframework.orm.hibernate3.HibernateTemplate">
	 <property name="sessionFactory" ref="sefref"></property>
	 </bean>
	 
	 <!-- session factory with the datasource -->
	 <bean id="sefref" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
	 <property name="dataSource" ref="ds"></property>
	 <property name="packagesToScan" value="com.example"></property>
	 <property name="hibernateProperties">
	 <props>
	 <prop key="hibernate.dialect"> org.hibernate.dialect.MySQLDialect</prop>
	 <prop key="hibernate.hbm2ddl.auto">update</prop>
	 <prop key="hibernate.show_sql">true</prop>
	 </props>
	 </property>
	 </bean>
	 <bean id="ds" class="org.apache.commons.dbcp.BasicDataSource">
	<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
	<property name="url" value="jdbc:mysql://localhost:3306/springdemo"></property>
	<property name="username" value="root"></property>
	<property name="password" value="root"></property>
	</bean>
	 
	  </beans>


